# Statistic Geospatial Model

In [2]:
import pandas as pd
import arcpy
import os
from arcpy.sa import *
from arcpy import env
import numpy as np
import math
from arcpy import env
from arcpy.sa import *

In [3]:
arcpy.env.workspace =r"D:\Maxim\masterthesis\YAK_TEST\YAK_TEST\Default.gdb"

In [4]:
rasters = arcpy.ListRasters(":.tif")
raster_list = arcpy.ListRasters("")

In [5]:
print(raster_list)

['Fill_DGM_PRO1', 'Fill_Clip_DG1', 'Fill_DGM_PRO2', 'Fill_Clip_DG2', 'FlowDir_Fill1', 'Basin_FlowDi1', 'FlowDir_DEM', 'FlowAcc_Flow4', 'FlowAcc_DEM_Clip', 'Reclass_Flowacc', 'Watersh_Flow1', 'Watersh_Flow2', 'Watersh_Flow3', 'Watersh_Flow4', 'Watersh_Flow5', 'Watersh_Flow6', 'Watersh_Flow7', 'Reclass_Flow1', 'Reclass_Flowacc_yakou', 'Clip_PanThirdPoleLandCoverDa', 'Clip_PanThirdPoleSoilTexture', 'Clip_Clip_PanThirdPoleSoilTe', 'Clip_PanThirdPoleSoilTexture2', 'SoilTexture', 'Clip_PanThirdPoleLandCoverDa1', 'LandCover', 'PanThirdPoleVegetationFunction', 'PanThirdPoleVegetationFuncti1', 'DGM', 'DGM_ProjectRaster', 'DGM_YAKOU', 'Slope_yakou', 'Aspect_Slope1', 'PermafrostZonation', 'PermafrostZonation_ProjectRa', 'Permafrost_zonationindex', 'TEMPERATURE', 'Vegetation1_Clip', 'rster_stream', 'PanThirdPolePermafros_proj', 'Clip_PanThirdPolePermafrost_proj', 'Clip_PanThirdPolePermafrostZ1', 'Clip_PanThirdPolePermafrostZ5', 'C', 'LandCoverMapofPanThirdPole_C', 'Soil_texture_pro', 'calculate_ras1', 'Aspect_Clip_1', 'AreaSol_C1', 'areasol_c1_r', 'Aspect_Slope2', 'cal1', 'Reclass_Clip1', 'Reclass_Clip2', 'Permafrost1', 'aspect_slop1', 'solar_radiat', 'solar_radia1', 'easthing_ras', 'solar_radia2', 'slope_new_ra', 'easthing_ra1', 'solar_radia3', 'Permafrost', 'Case1', 'Case11', 'Case2', 'Case3', 'Case4', 'Case5', 'Case6', 'Case7', 'Case8', 'Clip_PanThirdPoleDigitalElev', 'Slope_Clip_P1', 'Aspect_Slope_new', 'Aspect_Slope4', 'Clip_PanThirdPoleLandCoverDa2', 'Clip_PanThirdPoleSoilTexture1', 'Clip_PanThirdPoleVegetationF', 'AreaSol_Digi1', 'AreaSol_Clip1', 'landcover_ra', 'landcover_N', 'SoilTexture_N', 'Clip_PanThirdPoleSoilTexture3', 'soiltexture3_N', 'clip_panthir', 'Clip_PanThirdPolePermafrostZ', 'Clip_PanThirdPolePermafrostZ2', 'iax_053f3ea6_65c1_436d_ac86_06f22e5359d1_2118017424', 'Slope', 'iax_d14bb4e5_c93b_4034_8fff_7e565a94f169_1681225004', 'iax_ebdbbd16_d6cb_486d_9581_4c51d323508a_1681225004', 'iax_6b108f51_1622_40a5_8921_4c84fd384d1c_1681225004', 'iax_9595dafb_6a66_4a36_ac6c_0b10db888576_1681225004', 'iax_6fecb76e_8e61_4855_a097_713bf1143427_1681225004', 'iax_d13d2641_7e03_4879_ab17_980fe90b8ba7_1681225004', 'iax_8ef1a9e5_ef94_47bb_97e8_7ee25445cf88_1681225004', 'iax_e0c5fa3f_09fd_4113_8ef9_20a4668794d6_1681225004', 'iax_6ed5bbfa_9b8d_45cf_9724_9c4f7ce8abb7_1681225004', 'iax_70ce3a84_d08a_4468_b451_71c6efd3e965_1681225004', 'iax_c76d1b45_61c8_489f_bdf3_f364b1f0c45a_1681225004', 'iax_a372aa8b_d510_4dd3_b433_6b2be90683dc_1681225004', 'iax_b1289954_f0a1_4ae5_8a22_19bbeccd9929_1681225004', 'iax_858c11b6_9b99_4e48_af51_434c3790dee9_1681225004', 'Reclass_Aspe1', 'Aspect_Clip_3', 'AreaSol_DGM_1', 'plus_fc6de311_8de4_4a21_b24e_105e7d327fc7_3376023400', 'PanThirdPoleDigitalElevation', 'PanThirdPoleDigitalElevation1', 'Fill_PanThir1', 'FlowDir_Fill2', 'FlowAcc_Flow1', 'PanThirdPoleDigitalElevation2', 'PanThirdPoleDigitalElevation3', 'Slope_Heide', 'Aspect_Heide', 'Solar_radiation', 'PanThirdPoleLandCoverDataset', 'PanThirdPoleLandCoverDataset1', 'LandCover_Heide', 'LandCover_Heide_Clip', 'LandCover_Heide_Clip1', 'vegetationpanthird', 'vegetationpanthird_P', 'vegetationpanthird_P_Clip', 'vegetation', 'vegetationclip', 'vegetationclip_ProjectRaster', 'vegetationclip_ProjectRaster1', 'vegetationclip_ProjectRaster2', 'vegetation_Heide1', 'PanThirdPoleVegetationFuncti', 'PanThirdPoleVegetationFuncti2', 'Vegetation_Heide3', 'PanThirdPoleLandCoverDataset2', 'PanThirdPoleLandCoverDataset3', 'LandCover_Heide3', 'PanThirdPoleSoilTextureDatas', 'PanThirdPoleSoilTextureDatas1', 'SoilTexture_Heide3', 'PanThirdPolePermafrostZonati', 'PanThirdPolePermafrostZonati1', 'PanThirdPolePermafrostZonati2', 'Vegetation_Heide33', 'PanThirdPoleDigitalElevation4', 'PanThirdPoleDigitalElevation5', 'DEM_Heide3', 'plus_8f7a5038_125d_4f96_b9f0_0d4e18ae8e6b_1783216492', 'PanThirdPolePermafrostZonati33', 'PanThirdPolePermafrostZonati4', 'Permafrost_Heide33']

In [43]:
Slope=Raster("slope")

In [44]:
print("Slope")

Slope

Raster Normalisation

In [45]:
#call the raster 
Slope=Raster("Slope")
#calculating the normalisation
Slope_N= ((Slope - Slope.minimum)/(Slope.maximum - Slope.minimum))

In [54]:
#make the same calculation for all the other raster
Aspect=Raster("Aspect_Slope1")
Aspect_N= ((Aspect - Aspect.minimum)/(Aspect.maximum - Aspect.minimum))


DGM=Raster("DGM_YAKOU")
DGM_N = ((DGM - DGM.minimum)/(DGM.maximum - DGM.minimum))

In [55]:

Solar_radiation=Raster("AreaSol_DGM_1")
Solar_radiation_N= ((Solar_radiation - Solar_radiation.minimum)/(Solar_radiation.maximum - Solar_radiation.minimum))

The Weight

In [76]:
#find the path
file =('D:\Maxim\masterthesis\Probabilitys.xlsx')
newData = pd.read_excel(file)
newData

    slope  Aspect  solar radiation  Elevation  total
0   0.500   0.250            0.125      0.125      1
1   0.125   0.500            0.250      0.125      1
2   0.125   0.125            0.500      0.250      1
3   0.500   0.125            0.125      0.250      1
4   0.250   0.500            0.125      0.125      1
5   0.125   0.250            0.500      0.125      1
6   0.125   0.125            0.250      0.500      1
7   0.500   0.125            0.125      0.250      1
8   0.250   0.500            0.125      0.125      1
9   0.125   0.250            0.500      0.125      1
10  0.125   0.125            0.250      0.500      1
11  0.500   0.125            0.125      0.250      1
12  0.250   0.500            0.125      0.125      1
13  0.125   0.250            0.500      0.125      1
14  0.125   0.125            0.250      0.500      1
15  0.500   0.125            0.125      0.250      1
16  1.000   0.000            0.000      0.000      1
17  0.000   1.000            0.000      0.000      1
18  0.000   0.000            1.000      0.000      1
19  0.000   0.000            0.000      1.000      1
20  0.250   0.250            0.250      0.250      1

Calculating of the Active layer thinkness

In [91]:
#calculating of the different layer thinkness using the table of weight
ALT_liste=[]
for i,rows in newData.iterrows():
    ALT=(rows["slope"]*Slope_N + rows["Aspect"]*Aspect_N + rows["solar radiation"]*Solar_radiation_N + rows["Elevation"]*DGM_N)
    #add in the liste
    ALT_liste.append(ALT)
    ALT
    #save als tif file
    ALT.save(r"D:\Maxim\masterthesis\YAK_TEST\ALT"+str(i)+"tif")

In [93]:
#Normalisation of the 21 result
ALT_liste_N=[]
liste=[0,1,2,3,5,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in  liste:
    ALT_N = ( ALT_liste[i]) - ( ALT_liste[i].minimum)/ (( ALT_liste[i].maximum) - ( ALT_liste[i].minimum)) 
    #add in the  liste
    ALT_N
    ALT_liste_N.append( ALT_N)
    #save als tif file
    ALT_N.save(r"D:\Maxim\masterthesis\YAK_TEST\ALT_N" + str(i)+".tif")

In [94]:
#Original file 
ALT_original=Raster("Clip_PanThirdPolePermafrostZ2")

In [98]:
#Normalisation of the Original file
ALT_original_N= Raster((ALT_original - ALT_original.minimum)/(ALT_original.maximum - ALT_original.minimum))
#save als tif file
ALT_original_N.save(r"D:\Maxim\masterthesis\YAK_TEST\YAK_TEST\Permafrost_original_N." + str(i)+".tif")

Standard deviation(not obligatory)

In [106]:
#calculating the difference between the original Active layer and each active layer
DIFF=[]
liste=[0,1,2,3,5,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in  liste:
    diff= ALT_original - ALT_liste[i]
    DIFF.append(diff)
    diff.save(r"D:\Maxim\masterthesis\YAK_TEST\difference_." + str(i)+".tif")

In [108]:
#Calculating the standard deviation using arcpy
Sd=[]
SD_mean =[]
for i in  liste:
    X= arcpy.sa.Statistics(DIFF[i], 3, 3, "standarddeviation", True)
    Sd.append(X)
    X.save(r"D:\Maxim\masterthesis\YAK_TEST\sd." + str(i)+".tif") 
    SD_mean.append(X.mean)

ROOT MEAN SQUARE ERROR

In [99]:
#Root mean square error 
RMSE =[]
for i in  liste:
    A = arcpy.sa.Arithmetic ( ALT_liste[i],ALT_original,"Minus", "FirstOf", "FirstOf")
    X = arcpy.sa.Arithmetic(A,A, "Multiply", "FirstOf", "FirstOf")
    rmse = np.square(X.mean)
    RMSE.append(rmse)

In [101]:
#Root mean square of the rasters after the normalisation
RMSE_N=[]
for i in  liste:
    A = arcpy.sa.Arithmetic (ALT_liste_N[i], ALT_original_N,"Minus", "FirstOf", "FirstOf")
    X = arcpy.sa.Arithmetic(A,A, "Multiply", "FirstOf", "FirstOf")
    rmse = np.square(X.mean)
    RMSE_N.append(rmse)

Creating a table

In [112]:
#Rows and colums
case=["case1","case2","case3","case4","case5","case6","case7","case8","case9","case10","case11","case12","case13","case14","case15","case16","case17","case18","case19","case20","caase21"]
columns=["RMSE","RMSE_N"]

In [113]:
d1 = {"case": case, "RMSE":RMSE, "RMSE_N" : RMSE_N }

In [114]:
#panda dataframe
df= pd.DataFrame(d1)
df.to_excel("D:\Maxim\masterthesis\YAK_TEST\Dataframe_case.xlsx")

In [115]:
df

       case      RMSE    RMSE_N
0     case1  0.006048  0.037113
1     case2  0.003731  0.021437
2     case3  0.001274  0.016512
3     case4  0.006493  0.041030
4     case5  0.001220  0.024821
5     case6  0.005886  0.012971
6     case7  0.003647  0.052266
7     case8  0.006493  0.041030
8     case9  0.005886  0.024821
9    case10  0.001220  0.012971
10   case11  0.003647  0.052266
11   case12  0.006493  0.041030
12   case13  0.005886  0.024821
13   case14  0.001220  0.012971
14   case15  0.003647  0.052266
15   case16  0.006493  0.041030
16   case17  0.016531  0.011632
17   case18  0.017301  0.014713
18   case19  0.001300  0.000720
19   case20  0.012612  0.009749
20  caase21  0.003261  0.066717

Find the best case

In [116]:
df["RMSE_N"].idxmin()

18